<div class="main" fxLayoutAlign="center center">
  <mat-card
    class="main-card"
    fxLayoutAlign="center center"
    fxLayout="column"
    fxLayoutGap="1rem"
  >
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title><h2>پروژه‌ها</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content class="main-card__content">
      Our global team, paired with our methods & scale, work with you to manage,
      evolve, and continuously modernize your Website. Our global team, paired
      with our methods & scale, work with you to manage,
    </mat-card-content>
  </mat-card>
</div>

<div class="main2">
  <mat-grid-list cols="3" rowHeight="1.2:1">
    <mat-grid-tile>
      <mat-card
        class="main2-card__img"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card__img2"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card__img3"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card__img4"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card__img5"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card__img6"
        fxLayoutAlign="center center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <span>more to come...</span>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main3">
  <mat-grid-list class="main3-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="center center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <div fxLayoutAlign="center center">
          <a
            href="https://www.instagram.com/pochegroupe/"
            class="main3-btn main3-btn-white"
            >poche instagram</a
          >
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-content class="main3-grid-list">
          <p>
            گروه طراحی پوشه متشكل از گروهى از معماران و طراحان داخلى مى باشد كه
            از سال ١٣٩٧ شروع به فعاليت كرده است و با هدف طراحى و اجراى دكوراسيون
            و خلق فضاى داخلى متفاوت مى كوشد تا فضايى آرامش بخش،مفيد و خلاقانه را
            براى شما به ارمغان بياورد
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
