<div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <!-- <div class="main-bg-video">
      <video playsinline autoplay muted loop class="main-bg-video__content">
        <source src="../../assets/New-York-Sky.mp4" type="video/mp4" />
        Your browser isn't supported!
      </video>
    </div> -->

    <!-- <h1 class="mat-display-4 gradient">Designing with balance.</h1> -->
    <h1 class="mat-display-3 gradient">
      هر موقعيت جديد، مستلزم يك معمارى جديد است
    </h1>
  </div>
</div>

<div class="main2">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5rem" fxHide.lt-md>
    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>Web Design & Development</mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center center"
            >USER FRIENDLY DESIGN</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content class="main2-card__content">
          Our global team, paired with our methods & scale, work with you to
          manage, evolve, and continuously modernize your Website.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title fxLayoutAlign="center center "
            >E-Commerce Solutions</mat-card-title
          >
          <mat-card-subtitle fxLayoutAlign="center center"
            >DELIVER MORE TO YOUR CUSTOMERS</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content
          fxLayoutAlign="center center"
          class="main2-card__content"
        >
          We specialize in building eCommerce websites that drive more sales by
          providing customers with a seamless, omni-channel shopping experience.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main3">
  <mat-grid-list class="main3-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h3>تماس با ما</h3></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main3-grid-list2">
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img
              src="../../assets/mail-line (1).svg"
              alt="computer icon"
            /><span>emitgroup.web@gmail.com</span>
          </div>
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img
              src="../../assets/whatsapp-line.svg"
              alt="computer icon"
            /><span>+1(403)9032374</span>
          </div>

          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img src="../../assets/instagram-line.svg" alt="computer icon" />
            <span>emit.group</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start end"
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h3>درباره ما</h3></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main3-grid-list">
          <p>
            گروه طراحی پوشه متشكل از گروهى از معماران و طراحان داخلى مى باشد كه
            از سال ١٣٩٧ شروع به فعاليت كرده است و با هدف طراحى و اجراى دكوراسيون
            و خلق فضاى داخلى متفاوت مى كوشد تا فضايى آرامش بخش،مفيد و خلاقانه را
            براى شما به ارمغان بياورد
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
