.main {
  background-image: url(../../assets/eugene-lim-w74T9SFYyHc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  // &-bg-video {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   z-index: -1;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.main2 {
  background-color: #0d1547;
  min-height: 20vh;
  position: relative;
}

.main3 {
  background-color: #1e2874;
  min-height: 20vh;
  position: relative;
}

.main4 {
  background-color: #421964;
  min-height: 20vh;
  position: relative;
}

.main5 {
  background-color: #aa7dce;
  min-height: 20vh;
  position: relative;
}

.main6 {
  background-color: #f2edeb;
  min-height: 20vh;
  position: relative;
}

.gradient {
  background-image: linear-gradient(to right, #0d1547, #421964);
}
.mat-display-4 {
  font-weight: 500;
  //letter-spacing: 0.5rem;
  margin-bottom: 35rem;

  background-color: #0d1547;
  background-image: linear-gradient(to right, #0d1547, #f2edeb);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
