<div class="main" fxLayout="column">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <h1
      class="mat-display-3 gradient heading-primary"
      fxLayoutAlign="center center"
    >
      <span> هر موقعيت جديد، مستلزم يك معمارى جديد است</span>
    </h1>
  </div>
</div>

<div class="main2">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5rem" fxHide.lt-md>
    <mat-grid-tile>
      <mat-card
        class="main2-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title><h1>پروژه‌ها</h1></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main2-card__content">
          Our global team, paired with our methods & scale, work with you to
          manage, evolve, and continuously modernize your Website. Our global
          team, paired with our methods & scale, work with you to manage,
        </mat-card-content>

        <div class="main2-btn-position" fxLayoutAlign="start center">
          <a routerLink="/portfolio" class="main2-btn main2-btn-white"
            >بیشتر ببینید &rarr;</a
          >
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main2-card__img"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main3">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5rem" fxHide.lt-md>
    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center"
        fxLayout="column"
        fxLayoutGap="1rem"
      >
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>Web Design & Development</mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center center"
            >USER FRIENDLY DESIGN</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content class="main3-card__content">
          Our global team, paired with our methods & scale, work with you to
          manage, evolve, and continuously modernize your Website.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main3-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title fxLayoutAlign="center center "
            >E-Commerce Solutions</mat-card-title
          >
          <mat-card-subtitle fxLayoutAlign="center center"
            >DELIVER MORE TO YOUR CUSTOMERS</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content
          fxLayoutAlign="center center"
          class="main3-card__content"
        >
          We specialize in building eCommerce websites that drive more sales by
          providing customers with a seamless, omni-channel shopping experience.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="main4">
  <mat-grid-list class="main4-grid-list" cols="2" fxHide.lt-md rowHeight="2:1">
    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start center "
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h3>تماس با ما</h3></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main4-grid-list2">
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img
              src="../../assets/mail-line (1).svg"
              alt="computer icon"
            /><span>test@gmail.com</span>
          </div>
          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img
              src="../../assets/whatsapp-line.svg"
              alt="computer icon"
            /><span>09121979628</span>
          </div>

          <div fxLayoutGap="1rem" fxLayoutAlign="start center ">
            <img src="../../assets/instagram-line.svg" alt="computer icon" />
            <span>pochegroupe</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card
        class="main4-card"
        fxLayoutAlign="start end"
        fxLayoutGap="1rem"
        fxLayout="column"
      >
        <mat-card-header>
          <mat-card-title><h3>درباره ما</h3></mat-card-title>
        </mat-card-header>

        <mat-card-content class="main4-grid-list">
          <p>
            گروه طراحی پوشه متشكل از گروهى از معماران و طراحان داخلى مى باشد كه
            از سال ١٣٩٧ شروع به فعاليت كرده است و با هدف طراحى و اجراى دكوراسيون
            و خلق فضاى داخلى متفاوت مى كوشد تا فضايى آرامش بخش،مفيد و خلاقانه را
            براى شما به ارمغان بياورد
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <p fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="row" fxLayoutAlign="center center"
      ><mat-icon fxLayoutAlign="center center">copyright</mat-icon>2020 -
      Designed by emit</span
    >
  </p>
</div>
